

.style440 { 
  background-image: url("../img/gas.jpg");
  background-size: auto 100vh;
}

.style3685 { 
  opacity: 0.8;
}

.style1426 { 
  background-image: url("../img/gas.jpg");
  background-size: auto 100vh;
}

.style2224 { 
  opacity: 0.8;
}